.blacklist {
    .modal-title {
        line-height: 30px
    }
    
    .words {
        margin-bottom: 0px;
    }

    .word {    
        .content {
            margin-right: 98px;

            strong {
                line-height: 32px;
            }
            
            .form-group {
                margin-bottom: 0px;
            }
        }
        
        .controls {
            float: right;
            
            .btn {
                margin-left: 8px;
            }
        }
    }
}