// Bootstrap overrides.
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$navbar-border-radius: 0px;

@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "./blacklist.scss";

.navbar {
    .navbar-header {
        float: left;
    }

    button {
        margin-top: 8px;
    }
}

textarea {
    resize: vertical;
    margin-bottom: 20px;
}
