// Bootstrap overrides.
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$navbar-border-radius: 0px;

@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "./blacklist.scss";

textarea {
    resize: vertical;
    margin-bottom: 20px;
}
